body {
  font-family: "omnigothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f3f3f3;
  color: #000;
}
a {
  color: #000;
  text-decoration: none;
}
header {
  height: 60px;
  overflow: hidden;
}
.nav {
  list-style: none;
  padding: 20px 250px 0 0;
  margin: 0;
  width: 800px;
  height: 60px;
  display: flex; 
  float: left;
  box-sizing: border-box;
  overflow: hidden;
}
.nav li {
  flex: 1;
  text-align: center;
}
.nav li a {
  font-size: 18px;
  position: relative;
}
.nav li a:hover {
  color: #F86551;
  transition: 0.3s;
}
.btn {
  position: relative;
  height: 60px;
  float: right;
  padding: 5px 20px 0 0;
}
.btn input {
  position: relative;
  width: 180px;
  height: 47px;
  border-radius: 15px;
  outline: none;
  appearance: none;
  font-weight: bold;
  box-shadow: 0 1px 5px #c1c1d2bd;
}
.btn input::before,
.btn input:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
}
.btn input:before{
  content: "KR";
  left: 40px;
}
.btn input::after{
  content: "CN";
  right: 40px;
}
.btn label {
  z-index: 1;
  position: absolute;
  top: 10px;
  bottom: 10px;
  border-radius: 15px;
}
.btn .btn-1 input {
  transition: 0.2s -0.1s;
}
.btn .btn-1 input:checked{
  background: #F86551;
}
.btn.btn-1 input:checked::before{
  color: #fff;
  transition: color 0.5s 0.2s;
}
.btn .btn-1 input:checked::after{
  color: #fff;
  transition: color 0.5s;
}
.btn.btn-1 input:checked + label {
  left: 10px;
  right: 110px;
  background: #F86551;
  transition: left 0.5s, right 0.4s 0.2s;
}
.btn.btn-1 input:not(:checked){
  background: #F0F0F3;
  transition: background 0.5s -0.1s;
}
.btn.btn-1 input:not(:checked)::before{
  color: #000;
  transition: color 0.5s;
}
.btn.btn-1 input:not(:checked):after{
  color: #fff;
  transition: color 0.5s 0.2s;
}
.btn.btn-1 input:not(:checked) + label {
  left: 90px;
  right: 30px;
  background: #F86551;
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
}
section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
}
.character_select {
  width: 700px;
  height: 700px;
  position: absolute;
}
.character_select img {
  width: 300px;
  height: 300px;
  position: absolute;
}
.character:hover {
  z-index: 2;
  transform: scale(1.5);
  transition: 0.3s;
}
.top {
  top: 0;
  right: 200px;
}
.bottom {
  bottom: 0;
  left: 200px;
}
.right {
  top: 200px;
  right: 0;
}
.left {
  top: 200px;
  left: 0;
}
.gbtn {
  margin-top: 900px;
  position: absolute;
}
.go_btn {
  width: 280px;
  height: 90px;
  border-radius: 50px;
  border: none;
  background-color: #F0F0F3;
  box-shadow: 0 0 10px #0000002a;
  font-family: "omnigothic", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 30px;
}
.go_btn:hover {
  background-color: #F86551;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.popup {
  position: fixed;
  background-color: #00000021;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
}
.introduce {
  position: absolute;
  width: 300px;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 10px #0000000d;
  
}
.one {
	position: absolute;
	top: 10%;
	left: 10%;
	transform: translateY(-20%);
}
.two {
  position: absolute;
  top: 40%; 
  left: 1%; 
  transform: translateY(-25%); 
}
.three{
	position: absolute;
	top: 70%;
	left: 10%;
	transform: translateY(0%);
}
.four{
	position: absolute;
	top: 10%;
	right: 10%;
	transform: translateY(-20%);
}
.five{
	position: absolute;
	top: 40%;
	right: 1%;
	transform: translateY(-20%);
}
.six{
	position: absolute;
	top: 70%;
	right: 10%;
	transform: translateY(-20%);
}
.character_name {
  position: absolute;
  /* left: 50%; */
  /* bottom: 0; */
  transform: translate(-50%,-50%);
  background-color: #F86551;
  color: #fff;
}